@import "../../styles/vars";
@import "../../styles/mixins.scss";

.results {
  .main {
    display: flex;
    flex-direction: row;
    @include breakpoint(mobileonly) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.table-of-content {
  margin-top: 2rem;
  position: sticky;
  top: 2rem;
  padding: 2rem 2rem;
  padding-bottom: 6rem;
  height: fit-content;
  min-width: 350px;
  background: #ffffff;
  box-shadow: -20px 24px 154px rgba(204, 209, 208, 0.49);
  border-radius: 15px;
  @include breakpoint(mobileonly) {
    display: none;
  }
  h2 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 107%;
    color: #333333;
  }

  li {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    padding: 0.9rem 0rem;
    position: relative;
    a {
      color: inherit;
    }
    &.active {
      color: var(--green);
    }
    &.active::before {
      content: "";
      height: 2px;
      width: 10px;
      position: absolute;
      top: 1.4rem;
      left: -16px;
      background-color: var(--green);
    }
  }
  div {
    //   background-color: red;
    width: fit-content;
    margin: auto;
  }
}

.actions-list {
  margin-top: 8rem;
  margin-bottom: 5rem;
  text-align: center;

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .action-item {
    margin-top: 2rem;
    width: 25%;
    min-width: 300px;
    padding: 3rem 2rem;
    background: #ffffff;
    box-shadow: 0px 14px 60px rgba(204, 209, 208, 0.28);
    border-radius: 15px;
    @include breakpoint(mobileonly) {
      min-width: 300px;
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: #333333;
    }
  }
  a:hover {
    transform: scale(1.03);
  }
}
