@import "../../styles/vars";
@import "../../styles/mixins.scss";

.results {
  .main {
    display: flex;
    flex-direction: row;
    @include breakpoint(mobileonly) {
      flex-direction: column;
      align-items: center;
    }
  }
  .content {
    // background-color: red;
    padding-left: 6rem;
    @include breakpoint(mobileonly) {
      padding-left: 0rem;
    }
  }
  .table-of-content {
    margin-top: 2rem;
    position: sticky;
    top: 2rem;
    padding: 2rem 2rem;
    padding-bottom: 6rem;
    height: fit-content;
    min-width: 350px;
    background: #ffffff;
    box-shadow: -20px 24px 154px rgba(204, 209, 208, 0.49);
    border-radius: 15px;
    @include breakpoint(mobileonly) {
      display: none;
    }
    h2 {
      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 107%;
      color: #333333;
    }

    li {
      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #333333;
      padding: 0.5rem 0rem;
      position: relative;
      a {
        color: inherit;
      }
      &.active {
        color: var(--green);
      }
      &.active::before {
        content: "";
        height: 2px;
        width: 10px;
        position: absolute;
        top: 16px;
        left: -16px;
        background-color: var(--green);
      }
    }
    div {
      //   background-color: red;
      width: fit-content;
      margin: auto;
    }
  }
}

.mdx-content {
  color: #333333;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 29px;
  h1,
  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
  }
  h2 {
    font-size: 28px;
    line-height: 120%;
  }
  h3 {
    font-style: normal;
    font-weight: bold;
  }
  h4 {
    font-style: normal;
    font-weight: bold;
  }
  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #eeeeee;
  }
}

.download {
  padding: 3rem 0.5rem;
  background: #ffffff;
  box-shadow: -20px 24px 154px rgba(204, 209, 208, 0.49);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 5rem;
  border-radius: 15px;
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 28px;
  }
  .d-main {
    max-width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  a:hover {
    transform: scale(1.03);
  }
}
