@import "../../styles/vars";
@import "../../styles/mixins.scss";

.chart {
  margin-bottom: 1rem;
  color: #333333;
  table {
    width: 100%;
  }
  td {
    padding: 0.2rem 0px;
    vertical-align: middle;
    height: 100%;
    @include breakpoint(mobileonly) {
      padding-bottom: 0px;
    }
  }
  tr {
    display: block;
    padding-top: 1rem;
  }
  .value {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color: #f6f6f6;
    border-radius: 4px;
    padding: 0;

    .bar {
      // display: block;
      background-color: var(--green);
      height: 18px;
      margin-right: 0.5rem;
      border-radius: 3px;
      display: flex;
      flex-direction: row;
    }
  }

  .label {
    // text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 17px;
    p {
      margin: 0;
      font-size: 14px;
      line-height: 17px;
      span {
        font-size: 12px;
        line-height: 15px;
        color: #666666;
      }
    }
  }

  .choices {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    flex-wrap: wrap;
    li {
      .square {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        margin-right: 5px;
      }
      position: relative;
      display: flex;

      align-items: center;
      padding: 10px;
      font-size: 15px;
      line-height: 17px;
      color: #333333;
    }
  }
}

.pie-chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: auto;
  .chart-content {
    // flex: 1;
    // background-color: red;
    margin-right: 3rem;
    justify-content: flex-start;
  }

  li {
    .square {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      margin-right: 5px;
    }
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    line-height: 17px;
    color: #333333;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
