.playground {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: relative;
}
.result {
  flex: 1;
  padding-left: 2rem;
  padding-top: 1rem;
}

.filter-form {
  margin-top: 2rem;
  padding: 2rem 2rem;
  padding-bottom: 6rem;
  height: fit-content;
  min-width: 350px;
  background: #ffffff;
  box-shadow: -20px 24px 154px rgba(204, 209, 208, 0.49);
  border-radius: 15px;
  padding: 1rem;
  width: 40%;
  label {
    font-size: 16px;
    font-weight: bold;
  }
  form {
    display: flex;
    flex-direction: column;
    select {
      width: 100%;
      margin: 1rem 0rem;
    }
    .radio {
      width: 100%;
      align-items: center;
      display: flex;
      margin: 1rem 0rem;
      input {
        margin-right: 0.5rem;
      }
    }
    .filters {
      border: 1px dashed #0000004d;
      padding: 1rem;
    }
  }
}
