---
import Report2023 from "./2023.astro";
---

<div class="w-full bg-emerald-100 text-black py-2 px-4 text-center border-b">
  <p class="text-xs md:text-sm font-normal">
    ✨ The 2024 survey has closed. The report will be published shortly. Follow
    us on <a
      href="https://www.linkedin.com/company/geeksblabla-community"
      target="_blank"
      class="text-emerald-700">LinkedIn</a
    > for updates.
  </p>
</div>

<Report2023 />
