@import "../../styles/vars";
@import "../../styles/mixins.scss";

.survey {
  background: var(--green-gradient);
  .container {
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rules {
    max-width: 700px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    a.primary {
      margin: auto;
      display: block;
    }
    strong {
      font-weight: bold;
      font-style: italic;
    }
    @include breakpoint(mobileonly) {
      margin-bottom: 2rem;
    }
    ul {
      font-family: "Open Sans";
      list-style-type: square;
      li {
        padding: 0.5rem 0px;
      }

      @include breakpoint(mobileonly) {
        padding: 0px 2rem;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    button {
      padding: 1rem 2rem;
      font-size: 1em;
      font-weight: bold;
      color: #fff;
      background: #31382f;
      border-radius: 8px;
      margin-left: 1rem;
    }
  }

  .quiz-form {
    max-width: 900px;
    min-width: 900px;
    align-self: center;
    padding-bottom: 1rem;
    @include breakpoint(mobileonly) {
      min-width: 100%;
    }
  }
}
.quiz-form__quiz {
  display: grid;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.selected {
  display: block;
  animation: fadeIn 1s;
}

.unselected {
  display: none;
}

.quiz-form__question {
  margin-bottom: 1.8rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.quiz-form__quiz:not(:last-child) {
  margin-bottom: 1.5rem;
}

.quiz-form__ans {
  padding: 0.8rem;
  margin: 0.5rem 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #dceae2;
  box-sizing: border-box;
  border-radius: 8px;
}

.quiz-form_fit-content {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  @include breakpoint(mobileonly) {
    grid-template-columns: 1fr;
  }
  flex-wrap: wrap;
}
.quiz-form_fit-content > label {
  display: block;
  // width: fit-content;
}

.quiz-form__ans_fit-content {
  margin: 10px 10px;
}

.quiz-form__ans:not(:last-child) {
  margin-bottom: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 15px;
  z-index: -1;
}

.design {
  width: 2rem;
  height: 2rem;
  background: #f3f8f4;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color: #61a67c;
}

.text {
  backface-visibility: hidden;
  transition: transform 200ms ease-in;
  color: #61a67c;
}
input[type="radio"]:hover ~ .quiz-form__ans,
input[type="checkbox"]:hover ~ .quiz-form__ans {
  background-color: #61a67c;
  .text {
    color: #fff;
  }
}

input[type="radio"]:checked ~ .quiz-form__ans,
input[type="checkbox"]:checked ~ .quiz-form__ans {
  background-color: #61a67c;
  .text {
    color: #fff;
  }
}

.thanks {
  background: var(--green-gradient);
  .container {
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;

    h1 {
      font-size: 3.5em;
      line-height: 2.912 * $mode;
    }
    @include breakpoint(mobileonly) {
      h1 {
        font-size: 2.5em;
        line-height: 1.912 * $mode;
      }
    }
  }
}
