@import "../../styles/vars";
@import "../../styles/mixins.scss";

.actions {
  button.tooltips {
    position: relative;
    display: inline;
  }
  button.tooltips span {
    top: -55px;
    left: 50%;
    font-size: 13px;
    font-weight: normal;
    margin-left: -155px;
    position: absolute;
    width: 200px;
    color: white;
    background: #30382f;
    text-align: center;
    visibility: visible;
    border-radius: 6px;
    box-shadow: 0px 0px 0px #800000;
    border: 1px solid rgb(202, 202, 202);
    padding: 6px 2px;
    opacity: 0;
    animation-name: fadeOut;
    animation-duration: 3s;
  }
  button.tooltips span:after {
    content: "";
    position: absolute;
    top: 100%;
    right: 20%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-top: 8px solid #30382f;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
  a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
  }
}

.quiz-form {
  max-width: 900px;
  min-width: 900px;
  align-self: center;
  padding-bottom: 1rem;
  @include breakpoint(mobileonly) {
    min-width: 100%;
  }
}
.quiz-form__quiz {
  display: grid;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  20% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.selected {
  display: block;
  animation: fadeIn 1s;
}

.unselected {
  display: none;
}

.quiz-form__question {
  margin-bottom: 1.8rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.quiz-form__quiz:not(:last-child) {
  margin-bottom: 1.5rem;
}

.quiz-form__ans {
  padding: 0.8rem;
  margin: 0.5rem 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #dceae2;
  box-sizing: border-box;
  border-radius: 8px;
}

.quiz-form_fit-content {
  display: grid;
  justify-items: stretch;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0rem 1rem;
  @include breakpoint(mobileonly) {
    grid-template-columns: 1fr;
  }
  flex-wrap: wrap;
}
.quiz-form_fit-content > label {
  display: block;
  // width: fit-content;
}

.quiz-form__ans_fit-content {
  margin: 10px 10px;
}

.quiz-form__ans:not(:last-child) {
  margin-bottom: 0.5rem;
}

input[type="radio"],
input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  left: 15px;
  z-index: -1;
}

.design {
  width: 2rem;
  height: 2rem;
  background: #f3f8f4;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  color: #61a67c;
}

.text {
  backface-visibility: hidden;
  transition: transform 200ms ease-in;
  color: #61a67c;
}
// input[type="radio"]:hover ~ .quiz-form__ans,
// input[type="checkbox"]:hover ~ .quiz-form__ans {
//   background-color: #61a67c;
//   .text {
//     color: #fff;
//   }
// }

input[type="radio"]:checked ~ .quiz-form__ans,
input[type="checkbox"]:checked ~ .quiz-form__ans {
  background-color: #61a67c;
  .text {
    color: #fff;
  }
}
.thanks {
  background: var(--green-gradient);
  .container {
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;

    h1 {
      font-size: 3.5em;
      line-height: 2.912 * $mode;
    }
    @include breakpoint(mobileonly) {
      h1 {
        font-size: 2.5em;
        line-height: 1.912 * $mode;
      }
    }
  }
}
