<div class="relative mb-14">
  <div
    class="absolute inset-x-0 top-0 lg:-top-14 bottom-0 lg:-bottom-14 overflow-hidden bg-emerald-50"
  >
    <div class="absolute inset-x-0 top-0 h-40 bg-gradient-to-b from-white">
    </div>
    <div class="absolute inset-x-0 bottom-0 h-40 bg-gradient-to-t from-white">
    </div>
  </div>
  <div
    class="mx-auto h-full px-4 py-6 lg:py-12 sm:max-w-xl md:max-w-full md:px-24 md:py-36 lg:max-w-screen-xl lg:px-8 relative"
  >
    <div class="flex flex-col items-center justify-between lg:flex-row">
      <div class="my-16">
        <div class="lg:max-w-xl lg:pr-5">
          <h2
            class="mb-6 max-w-lg text-4xl text-center font-light leading-snug tracking-tight text-emerald-600 sm:text-6xl sm:text-left"
          >
            State Of Dev <br />
            In{" "}
            <span
              class="my-1 inline-block border-b-8 border-emerald-600 font-bold text-emerald-600"
            >
              {" "}
              Morocco 2023{" "}
            </span>
          </h2>
          <p
            class="lg: mt-1 text-sm text-center tracking-normal text-gray-800 lg:mt-1 lg:text-xl lg:text-left"
          >
            Participate and let us know what working in tech really looks like
            in Morocco 🇲🇦
          </p>
        </div>

        <div
          class="sm:mt-12 mt-5 flex-col space-y-3 divide-gray-300 text-sm text-gray-700 sm:flex-row sm:space-y-0 sm:divide-x sm:inline-flex hidden"
        >
          <div class="flex max-w-xs space-x-2 justify-center items-center">
            <!-- <TimeIcon class="h-7" /> -->
            <p>The survey should take you 10 minutes</p>
          </div>
          <div class="flex max-w-xs space-x-2 px-4"></div>
        </div>
      </div>
      <!-- <YoutubeVideo /> -->
    </div>
  </div>
</div>
