@import "../../styles/vars";
@import "../../styles/mixins.scss";

.hero {
  background: var(--green-gradient);
  .container {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    align-content: space-between;
  }

  h1 {
    font-size: 3.5em;
    line-height: 2.912 * $mode;
  }
  @include breakpoint(mobileonly) {
    .container {
      padding-bottom: 5rem;
    }
    h1 {
      font-size: 2.5em;
      line-height: 1.912 * $mode;
    }
  }

  main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: Inter;
      font-style: normal;
      font-size: 18px;
      color: #2c322b;
      font-weight: normal;
      line-height: 30px;
    }

    .intro {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .crea {
      display: flex;
      flex: 1;
      align-items: flex-end;
      justify-content: flex-end;
    }
    .actions {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2rem;
      p {
        margin-left: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #3dbe71;
        svg {
          padding-right: 10px;
        }
      }

      @include breakpoint(mobileonly) {
        flex-direction: column;
        justify-content: center;
        p {
          margin-left: 0rem;
        }
      }
    }
    .primary,
    .outline {
      margin-top: 0;
      margin-left: 0;
    }
    @include breakpoint(mobileonly) {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      div {
        text-align: center;
        justify-content: center;
        align-items: center;
        max-width: 100%;
      }
      svg {
        height: auto;
        max-width: 100%;
      }
    }
  }
}

.last-year {
  h1 {
    font-size: 2em;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 500px;
    align-self: center;
  }

  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2rem;
    p {
      max-width: 600px;
      text-align: center;
      margin: auto;
      font-weight: normal;
      font-size: 14px;
      line-height: 28px;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    p {
      margin-left: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: #3dbe71;
      svg {
        padding-right: 10px;
      }
    }

    @include breakpoint(mobileonly) {
      flex-direction: column;
      justify-content: center;
      p {
        margin-left: 0rem;
      }
    }
  }
}

.why {
  h1 {
    font-size: 2em;
    margin: auto;
    text-align: center;
    margin-bottom: 4rem;
    max-width: 500px;
    align-self: center;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card {
    display: flex;
    margin-bottom: 5rem;
    width: 40%;
    min-width: 400px;
    .icon {
      margin-top: 3px;
      height: 82px;
      width: 82px;
      background: #ffffff;
      box-shadow: 11px 21px 30px rgba(120, 86, 86, 0.14);
      border-radius: 40px;
      margin-right: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .content {
      flex: 1;
      h3 {
        margin: 1rem 0;
        font-weight: bold;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
      }
      p {
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
      }
    }

    @include breakpoint(mobileonly) {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.interested {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 2rem 0px;
    position: relative;
    margin-left: 100px;
    width: fit-content;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
  }
  p::before {
    content: "";
    position: absolute;
    top: -10px;
    left: -30px;
    height: 32px;
    width: 50px;
    background-color: red;
    background: url(../../assets/imgs/alert.png) no-repeat;
    background-size: contain;
  }

  @include breakpoint(mobileonly) {
    margin-top: 8rem;
    p {
      margin-left: 0px;
    }

    p::before {
      height: 32px;
      width: 50px;
      content: "";
      position: absolute;
      top: -40px;
      left: calc(50% - 20px);
    }
  }
}
