---
import FaqItem from "./faq-item.astro";

const faqs = [
  {
    question: "Who runs this survey?",
    answer:
      "StateOfDev.ma is one of Geeksblabla community projects. We are a group of Moroccan developers who are passionate about technology and open source."
  },
  {
    question: "How will this data be used?",
    answer:
      "All data collected will be released publicly. It will then become a resources for developers to check the last trends in Morocco as well as companies to check the current state of the Moroccan developer community."
  },
  {
    question: "When will the results be released?",
    answer:
      "We will release the results after 2 weeks of the survey ending. We will also host a special Geeksblabla episode to discuss the results. You can watch it on our <a href='https://www.youtube.com/c/GeeksBlaBla01' target='_blank' rel='noopener noreferrer' class='text-primary hover:opacity-90'>YouTube channel</a>. Meanwhile, you can read last year's reports."
  },
  {
    question: "How can i contribute?",
    answer:
      "The project is open source and hosted on Github. You can contribute by opening issues or pull requests on our <a href='https://github.com/geeksblabla/stateofdev.ma' target='_blank' rel='noopener noreferrer' class='text-primary hover:opacity-90'>GitHub repository</a>. You can also help us by sharing the survey with your friends or write about the results on social media to help us understand the Moroccan developer community better."
  }
];
---

<section class="max-w-4xl mx-auto px-4 py-8 pt-16">
  <h2 class="text-xl font-sans font-bold mb-8 text-center">
    Frequently Asked Questions
  </h2>
  <p class="text-center max-w-2xl mx-auto">
    Here are some frequently asked questions about the State of Dev Morocco
    survey. If you have any other questions, please <a
      href="https://github.com/geeksblabla/stateofdev.ma"
      target="_blank"
      class="text-primary hover:opacity-90"
      rel="noopener noreferrer">open an issue</a
    >.
  </p>
  <div class="space-y-4 pt-8">
    {
      faqs.map((faq, index) => (
        <FaqItem label={faq.question} checked={index === 0}>
          <Fragment set:html={faq.answer} />
        </FaqItem>
      ))
    }
  </div>
</section>
