---
import { getQuestion } from './utils';
import {BarChart} from './bar-chart'
import type { Year } from './data';
import getContext from '@astro-utils/context';



export interface Props   {
  id: string;
  year?: Year
}
const { id = "", year : yearProp } = Astro.props;

const {year: yearContext, test} = getContext(Astro);
const year = yearProp || yearContext || "2023"
const results = getQuestion({ id, year });


---

{
  results ? <BarChart  results={results} /> : <div class="text-sm text-red-500"> > No results for {id} in {year}</div>
}

