---

export const prerender = true;

import Chart from '../Chart.astro';
import {BarChart} from './Chart/bar-chart';

export interface Props   {
  year: "2020" | "2021" | "2022" | "2023" ;
}
const { year = "2023" } = Astro.props;
const allDocs = await Astro.glob(`../../results/**/*.mdx`);
const docs = allDocs.filter((file) => file.file.includes(`${year}/sections`)).sort((a, b) => a.frontmatter.position - b.frontmatter.position);

---

<div class="prose
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline">
  {
      docs.map((doc) => {
      return <div>{<doc.Content components={{Chart: BarChart, TabItem: Chart, Tabs: Chart}} />}</div>;
    })
  }
</div>
