<div class="max-w-screen-md mx-auto">
  <div class="bg-white py-2 px-3">
    <lion-tabs>
      <slot />
    </lion-tabs>
  </div>
</div>



<script>
  import '@lion/ui/define/lion-tabs.js';
</script>
