---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
// Import other necessary components or styles

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | State of Dev Morocco</title>
    <!-- Add other meta tags, stylesheets, etc. -->
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

  </body>
</html>
