---
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import '../../app/globals.css';
// Import other necessary components or styles

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} | State of Dev Morocco</title>
    <!-- Add other meta tags, stylesheets, etc. -->


     <!-- Google Font -->
     <link rel="preconnect" href="https://fonts.googleapis.com" />
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
     <link
       href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap"
       rel="stylesheet"
     />
  </head>

  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />

  </body>
</html>
