name: Backup results

on: push
# on:
#   schedule:
#     - cron: "0 1 * * *"

jobs:
  backup_results:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "yarn"

      - name: Install Deps
        run: yarn install --frozen-lockfile

      - name: Export result to json file
        env: # Or as an environment variable
          FIREBASE_PRIVATE_KEY: ${{ secrets.FIREBASE_PRIVATE_KEY }}
          GATSBY_FIREBASE_PROJECT_ID: ${{ secrets.GATSBY_FIREBASE_PROJECT_ID }}
          FIREBASE_CLIENT_EMAIL: ${{ secrets.FIREBASE_CLIENT_EMAIL }}
        run: yarn export-result

      - name: Upload results
        uses: actions/upload-artifact@v2
        with:
          path: scripts/*.json
